html,body{
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
}
p{
  font-family: 'Roboto Mono', monospace;
  color: #fafafa;
  font-size: large;
  text-align: justify;
}

img{
  width:80%;

}
.text-block{
  padding-top:2%;
}
.proj-title{
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  text-align: left;
}
.title{
  color:#fbf8f8;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}
.main-titles{
  color:#000000;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.main2-titles{
  color:#fafafa;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.thumb-text{
  color: #000000;
  font-size: small;
  font-family: 'Roboto Slab', serif;
}
#top-bar{
  float:left;
  padding-top: 6%;
  padding-right:4%;
  padding-bottom:5%;
  text-align:center;
  background: #0d37a1 !important;
}
#projects{
  width:100%;
  color:#fafafa;
  margin:0;
  background-color:#0d47a1;
  padding:3%;
}

.thumbnail{
  background: #bdbdbd;
}
#social-bar{
  display: block;
  text-align: center;
  padding: 2%;
  background: #000a12;
}
#btn-group{
  width:85%;
  padding-top: 4%;
  padding-bottom: 4%;
}
#skills{
  padding-top: 3%;
  padding-bottom: 4%;
  text-align: center;
  background: #eceff1 !important;
}
#main{
  width:100%;
  margin:0;
  background-color:#0d37a1;
  padding-top:6%;
  padding-bottom:3%;
  padding-left:9%;
  padding-right:8%;
}
#footer{
  /*clear:both;*/
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000a12;
}

#myTopnav{
  position:fixed;
  height:auto;
  top:0;
  width: 100%;
  z-index: 9;
}
.menu{
  font-weight: 800;
  font-family: 'Roboto Slab', serif;
  background: #000a12;
  color:#fff7ff !important;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color:#ff7043 !important;
  }

.myProgress {
  width: 50%;
  border-radius: 3px;
  background-color: #ddd;
  margin-left: 25%;
  margin-bottom: 2%;

}

.myBar {
  width: 60%;
  font-weight: 600;
  height: 35px;
  border-radius: 3px;
  text-align:center;
  font-family: 'Roboto Mono', monospace;
  color:white;
}

#toogleCon{
  visibility:hidden;
}

.thum-pers{
  height: 500px;
}

@media all and (max-width: 768px){
    #navcontainer{
        display: inline-block;
        float:none;
    }
    #toogleCon{
      visibility:visible;
    }
  
    .myProgress {
      width: 70%;
      margin-left:15%;
    }
     #top-bar{
      float:none;
      padding-right:0%;
    }
}


@media all and (max-width: 360px){
    .myProgress {
      width: 100%;
      margin-left:0%;
    }

    p{
      font-size: medium;
      text-align: left;
    }

    #top-bar{
      float:none;
      padding-right:0%;
    }
}
